$max_body: 960px;
$col_width: 64px;
$col_spacing: 16px;

$col2_width: (2 * $col_width) + $col_spacing;

body {
    max-width: 960px;
    margin: 0 auto;

    color: #333;
}

.wrapper {
    position: relative;
}

nav {

    ul {
        margin: 0;
        padding: 0;

        li {
            margin: 0;
            padding: 0;
        }
    }
}

main {
    margin-left: $col2_width;
    padding-left: $col_spacing * 2;

    p {
        //max-width: 84%;
    }

    ul {
        //max-width: 84%;
    }
}

// <aside> elements that sit next to the main content, to give extra detail or
// links on parts used, resources, etc.
.extra-info {
    float: right;
    margin-left: $col_spacing;
    width: $col2_width;
    display: block;
    clear: right;

    font-size: 0.8em;

    img {
        width: 100%;
        max-width: 100%;
    }

    & + & {
        margin-top: 1em;
    }
}

// Hallway decoration from the Death Star in ANH
.imperial-decoration {

    $bar_width: $col2_width / 9;
    $bar_radius: $bar_width / 2;
    $width: $bar_width * 11;

    width: $width;
    min-height: 100%;
    height: auto !important;
    position: absolute;
    left: -$bar_width; top: 0;

    $imperial_gray: #aaa;
    $background: white;
    $bar_color: $imperial_gray;

    background-position:
        $bar_radius 100%,
        0 100%,
        $bar_width ($bar_radius + $bar_width),
        $bar_width ($bar_radius + $bar_width * 7),
        ($bar_width * 3) ($bar_radius + $bar_width),
        ($bar_width * 3) ($bar_radius + $bar_width * 9),
        ($bar_width * 5) ($bar_radius + $bar_width),
        ($bar_width * 5) ($bar_radius + $bar_width * 7),
        ($bar_width * 7) ($bar_radius + $bar_width),
        ($bar_width * 7) ($bar_radius + $bar_width * 9),
        ($bar_width * 9) ($bar_radius + $bar_width),
        ($bar_width * 9) ($bar_radius + $bar_width * 7),
        $bar_radius $bar_radius
        ;
    background-image:

        // terminating bottom piece
        radial-gradient(
            circle at 50% 50%,
            $bar_color $bar_radius,   // shapes
            transparent $bar_radius // background
        ),
        linear-gradient(
            to right,
            $background 0,
            $background $width
        ),

        // Bars

        linear-gradient(
            to bottom,
            $bar_color 0,
            $bar_color ($bar_width * 4),
            transparent ($bar_width * 4) + 1px
        ),
        linear-gradient(
            to bottom,
            $bar_color 0,
            $bar_color ($bar_width * 6),
            transparent ($bar_width * 6) + 1px
        ),
        linear-gradient(
            to bottom,
            $bar_color 0,
            $bar_color ($bar_width * 6),
            transparent ($bar_width * 6) + 1px
        ),
        linear-gradient(
            to bottom,
            $bar_color 0,
            $bar_color ($bar_width * 4),
            transparent ($bar_width * 4) + 1px
        ),
        linear-gradient(
            to bottom,
            $bar_color 0,
            $bar_color ($bar_width * 4),
            transparent ($bar_width * 4) + 1px
        ),
        linear-gradient(
            to bottom,
            $bar_color 0,
            $bar_color ($bar_width * 6),
            transparent ($bar_width * 6) + 1px
        ),
        linear-gradient(
            to bottom,
            $bar_color 0,
            $bar_color ($bar_width * 6),
            transparent ($bar_width * 6) + 1px
        ),
        linear-gradient(
            to bottom,
            $bar_color 0,
            $bar_color ($bar_width * 4),
            transparent ($bar_width * 4) + 1px
        ),
        linear-gradient(
            to bottom,
            $bar_color 0,
            $bar_color ($bar_width * 4),
            transparent ($bar_width * 4) + 1px
        ),
        linear-gradient(
            to bottom,
            $bar_color 0,
            $bar_color ($bar_width * 6),
            transparent ($bar_width * 6) + 1px
        ),
        radial-gradient(
            circle at 50% 50%,
            $bar_color $bar_radius,   // shapes
            $background $bar_radius // background
        )
        ;
    background-attachment: scroll;
    background-repeat: repeat-x, repeat-x, repeat-y, repeat-y, repeat-y, repeat-y, repeat-y, repeat-y, repeat-y, repeat-y, repeat-y, repeat-y, repeat;
    background-size:
        ($bar_width * 2) ($bar_width * 3),
        ($width) ($bar_width + $bar_radius),
        ($bar_width) ($bar_width * 14),
        ($bar_width) ($bar_width * 14),
        ($bar_width) ($bar_width * 14),
        ($bar_width) ($bar_width * 14),
        ($bar_width) ($bar_width * 14),
        ($bar_width) ($bar_width * 14),
        ($bar_width) ($bar_width * 14),
        ($bar_width) ($bar_width * 14),
        ($bar_width) ($bar_width * 14),
        ($bar_width) ($bar_width * 14),
        ($bar_width * 2) ($bar_width * 2)
        ;
    background-origin: padding-box;
    background-clip: border-box;
    background-color: $background;
}
