<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>{{title}}</title>

    <meta name="viewport" content="width=device-width initial-scale=1.0" />
    <style>
      @-ms-viewport { width: device-width; zoom: 1.0; }
      @-o-viewport { width: device-width; zoom: 1.0; }
      @viewport { width: device-width; zoom: 1.0; }
    </style>

    <link rel="stylesheet" href="/css/normalize.css" />
    <link rel="stylesheet" href="/css/tk.css" />

    <!--<script type="text/javascript">
        window.appInsights={queue:[],applicationInsightsId:null,accountId:null,appUserId:null,configUrl:null,start:function(n){function u(n){t[n]=function(){var i=arguments;t.queue.push(function(){t[n].apply(t,i)})}}function f(n,t){if(n){var u=r.createElement(i);u.type="text/javascript";u.src=n;u.async=!0;u.onload=t;u.onerror=t;r.getElementsByTagName(i)[0].parentNode.appendChild(u)}else t()}var r=document,t=this,i;t.applicationInsightsId=n;u("logEvent");u("logPageView");i="script";f(t.configUrl,function(){f("//az416426.vo.msecnd.net/scripts/ai.0.js")});t.start=function(){}}};

        appInsights.start("b230dddb-e933-4d0d-ba85-acd410bedeb3");
        appInsights.logPageView();
    </script>-->
</head>
<body>

    <header>
        AP Armor Build
    </header>

    <nav>
        <ul>
            <li><a href="/tk/anh-stunt-armor">ANH Stunt Armor</a></li>
            <li><a href="/tk/anh-e-11-blaster">ANH E-11 Blaster</a></li>
        </ul>
    </nav>

    <div class="wrapper">

        <div class="imperial-decoration"></div>

        <main class="build">
            {{{this.contents}}}

            {{#each (lookupCollection)}}
                <article class="update">
                    <h2 id="{{this.anchor}}">
                        <time datetime="{{this.date}}">{{formatDate this.date}}</time>
                    </h2>
                    {{{this.contents}}}
                </article>
            {{/each}}
        </main>

    </div>

</body>
</html>
